.custom-header {
  background-color: #f0f2f5;
  padding: 40px 20px;
  font-size: 2rem;
  font-weight: bold;
}

.footer {
  background-color: #e5d8d8;
  padding: 20px 0;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.grid-box {
  background-color: #d3d3d3;
  border: 1px solid black;
  text-align: center;
  padding: 20px 0;
}
